# feathers-gateway-client
A simple utility for dynamically creating feathers clients. Used for a pattern where independent feathers APIs are exposed via different URLs.  

## API Structure
This utility assumes you have a base URL, ex. `http://gateway:3030`, which exposes multiple separate feathers APIs such as:  
- `http://gateway:3030/api1`
- `http://gateway:3030/api2`
- `http://gateway:3030/api3`

## Usage
In your application config, set your API gateway base URL as `APIGatewayBaseUrl`
```javascript
const { FeathersGatewayClient } = require('feathers-gateway-client');

// api2 is an instance of FeathersGatewayClient
const api2 = new FeathersGatewayClient({ app, api: 'api2' });
// api2asUser2 is a feathers client authenticated as user with id: '2'
const api2asUser2 = await identity.asUser('2');

// You can now use api2asUser2 as you would use any other feathers client
console.log(await api2asUser2.service('todos').find({}));
```

## API
{{>main}}
